.resources{
    background-color: #FDE9EE;
    height:fit-content;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 0px 0px 20px 20px;

    
}

.heading1{

    display: block;
    z-index: 1;
    width: 100%;
    height: fit-content;
    max-width: 770px;
    z-index: 1;
    position: relative;
    margin: 0px;
    position: relative;


}

.heading1 p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #073B4c;
    line-height: 62px;
    text-align: center;
       
    
}

.detail1{
    display: block;
    z-index: 1;
    position: relative;
    width: 100%;
    height: fit-content;
    max-width: 551px;
    margin: 0px;
    min-height: 10px;
    min-width: 16px;
    justify-content: center;
  

} 



.detail1 p{
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    line-height:30px ;
    text-align: center;
    position: relative;
    

}

.button1{
    display: flex; 
    z-index: 1; 
    margin: 0px; 
    width: 100%; 
    height: fit-content; 
    position: relative;
    max-width: 326px;
    justify-content: center;
    
    

}

.button1 a{


    padding:18px 32px 18px 32px;
    background-color:#ef476fff;
    border-radius:100px 100px 100px 100px ;
    border-width:0px 0px 0px 0px ;
    border-style:groove groove groove groove ;
    border-color:#333 #333 #333 #333 ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:24px;
    font-weight:400;color:#ffffffff;
    line-height:34px;
    text-decoration: none;

}

/* .contact{
    


} */

.contact p{
    font-size: 52px;
    font-weight: 700;
    color: #073B4C;
    line-height: 120px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    


}


.location{
    
    display: flex;
    flex-wrap: wrap;
    
    

    

}

.box{
    border-radius: 40PX;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    height:fit-content ;
    width: fit-content;
    max-width: 400px;
    min-width: 300px;
    position: relative;
    padding: 0px 32px 32px ;
    
    z-index: 1;
    box-shadow:#000000;
    box-shadow: 1px 1px 100px 4px #6b6868;
    



}

.head{
    font-size: 24px;
    font-weight: 700;
    color: #118ab2ff;

    
}

.icon img{
    height: 40px;
    position: relative;
    bottom: 20px;
    

    

}

.address{
    border: solid black 2px;
    border-radius: 25px 0px 25px 0px;
    font: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 28px;
    padding: 12px 0px 0px 0px;
    
}

.subscribe{
    background-color: #FFD166;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    justify-content: center;


}

.heading2{
    text-align: center;


}

.p1{
    display: block;
    font-size: 24px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.p2{
    position: relative;
    bottom: 40px;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    display: block;
    width: 100%;


}

.img-detail-input{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 600px;


}

.img{
    display: flex;
    width:40%;
    height: 600px;

    object-fit: cover;
    position: relative;
    


}

.img1{
    width:100% ;

}




.form{
display: flex; 
position: relative;
width: 50%;
height: 600px;
flex-direction: column;
padding-left: 20px;
/* min-width: 0px;
max-width: 500px;*/

}


.detail2 {
    font-family:cursive;
    width: 100%;
    font-size:18px;
    font-weight:400;
    color:#000000;
    line-height:28px;
    text-align:left;
    max-width: 579px;
    display: flex;
    position: relative;

    
}




.button2{
    top: 20px;
    display: flex; 
    position: relative;
    z-index: 1; 
    margin: 0px; 
    width: auto; 
    position: relative;
    max-width: 320px;
    height: fit-content;
    text-decoration:none;
    text-wrap:nowrap ;

    
    

}

.button2 a{

    padding:18px 32px 18px 32px;
    background-color:rgb(233, 59, 59);
    border-radius:100px 100px 100px 100px ;
    border-width:0px 0px 0px 0px ;
    border-style:groove groove groove groove ;
    border-color:#333 #333 #333 #333 ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:24px;
    font-weight:400;color:#ffffffff;
    line-height:34px;
    text-decoration:none;

}

.page5-form-input{
    padding: 10px 20px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    /* height:40px;
    width:100px; */

}


.page6{
    height: fit-content;
    width: 100%;
    display: flexbox;
    flex-wrap: wrap;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    
   


}

.feedback{
    
    z-index: 1;
    padding:206px 140px 100px 140px;flex-direction:column;column-gap:0px;row-gap:0px;background-image:linear-gradient(270deg,rgb(0,0,0)0%,rgba(0,0,0,0.6)100%), url(https://res.cloudinary.com/dbyioi2qq/image/upload/v1705850254/qub2fe1yvelerj6q2h1b.jpg);background-position:0% 0%, 50% 50%;
    background-size:auto auto, cover;
    background-repeat:no-repeat no-repeat, no-repeat no-repeat;background-attachment:scroll, fixed;
    background-clip:border-box, border-box;background-origin:padding-box, padding-box;
    
    


}

/* .heading3 {
    justify-content: center;
    align-items:center;
    
    margin: auto;


} */

.heading3 p{
    font-size: 52px;
    font-weight: 700;
    color: #fff;
    line-height: 62px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    max-width: 600px;

}

.page6-detail p{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-family:cursive;
    width: 100%;
    font-size:18px;
    font-weight:400;
    line-height:28px;
    text-align:left;
    max-width: 579px;
    display: flex;
    position: relative;
    padding-left: 40px;

}


.page7{
    
    height:fit-content;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 0px 0px 20px 20px;

}

.page7-heading{
    display: flex; 
    z-index: 1; 
    width: 100%;
    height: fit-content; 
    margin: 0px; 
    min-height: 10px; 
    min-width: 16px; 
    position: relative; 
    max-width: 770px;





}
.page7-heading p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:45px;
    font-weight:800;
    color:#073B4C;
    line-height:50px;
    padding:0px 0px 0px 0px;
    text-align:center;

}


.page7-detail{
    display: flex; 
    z-index: 1; 
    width: 100%; 
    height: fit-content; 
    margin: 0px; 
    min-height: 10px; 
    min-width: 16px; 
    position: relative; 
    max-width: 551px;
}

.page7-detail p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:25px;
    font-weight:400;
    color:#000000;
    line-height:28px;
    padding:22px 0px 27px 0px;
    text-align:center;
}
